#notice-list{width: 1200px; margin : 20px auto 80px;}


.adm-chk{margin:0 0 10px 0;}
.adm-chk input{margin:-3px 0 0 0;}
.adm-chk label{font-size:17px;}
.article-chk{position:absolute;top:4px;left:5px;z-index:10;}
table{width:100%;border-spacing:0; margin-bottom : 10px ;border-top:4px solid #1459a6;table-layout:fixed;}
.b-col01{width:10%;}
.b-col02{width:45%;}
.b-col03{width:15%;}
.b-col04{width:15%;}
.b-col05{width:8%;}
.b-col06{width:7%;}
table thead th{text-align : center; padding:19px 0;border-bottom:1px solid #333;font-weight:500;}
table thead th.b-no-right{border-right:none !important}
table tbody th{padding:15px 10px;border-bottom:1px solid #eee;background-color:#fafafa;font-weight:200;}
table tbody td{position:relative;padding:18px 0;border-bottom:1px solid #e7e7e7;font-weight:200;text-align:center;}
table tbody td.b-td-left{text-align:left !important;}
table tbody td.b-no-right{border-right:none !important;}
.b-top-box{background:#f5f5f5;}
.b-top-box .b-num-box{font-weight:500;color:#333;}
.b-title-box a{display:inline-block;max-width:calc(100% - 60px);text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;line-height:21px;vertical-align:middle;box-sizing:border-box;}
.b-title-box .b-etc-box{display:inline-block;vertical-align:middle;}
.b-title-box .b-etc-box p{display:inline-block;margin:0 5px 0 0;vertical-align:middle;text-indent:-99999px;}
.b-title-box .b-etc-box p:last-of-type{margin:0;}
.b-title-box .b-etc-box .b-lock{width:14px;height:25px;background:url(../img/list/ico-lock01.png) no-repeat center;background-size:contain;}
.b-title-box .b-etc-box .b-new{width:25px;height:25px;background:url(../img/list/ico-new04.gif) no-repeat 0 0;box-sizing:border-box;}
.b-title-box .b-etc-box .b-file{display:none;}
.b-file-box{margin:0 auto;width:17px;height:18px;background:url(../img/list/ico-file03.png) no-repeat 0 0/17px 18px;}
.b-reply-box .b-title-box{padding:0 0 0 30px;background:url(../img/list/ico-reply02.png) no-repeat 0 0/16px 15px;}
.b-title-box .b-m-con{display:none;}
.b-top-box .b-title-box a span{display:none;}
.b-reply-box .b-num-box{text-indent:-99999px;}
.b-write-btn{float : right; padding:8px;background:#dedede;color:#333;border-radius:5px;cursor:pointer;vertical-align:middle;}


@media screen and (max-width:768px) {
    table thead tr{display:none;}
    table tbody td{padding:13px 0;border-right:none;font-size:14px;}
    table tbody tr td:nth-of-type(1){display:none;}
    table tbody tr td:nth-of-type(2){padding-left:10px;}
    table tbody tr td:nth-of-type(3){display:none;}
    table tbody tr td:nth-of-type(4){display:none;}
    table tbody tr td:nth-of-type(5){display:none;}
    .b-col01{display:none;width:0;}
    .b-col02{width:90%;}
    .b-col03{display:none;width:0;}
    .b-col04{display:none;width:0;}
    .b-col05{display:none;width:0;}
    .b-col06{width:10%;}
    .b-top-box .b-title-box a span{display:inline-block;font-weight:600;color:#666;}
    .b-title-box .b-etc-box{position:absolute;top:50%;right:0;transform:translateY(-50%);}
    .b-title-box .b-m-con{display:block;padding:5px 0 0 0;max-width:calc(100% - 48px);}
    .b-title-box .b-m-con span{position:relative;padding:0 20px 0 0;color:#969696;}
    .b-title-box .b-m-con span:after{content:"";display:block;position:absolute;top:3px;right:10px;width:2px;height:12px;background-color:#c6c6c6;}
    .b-title-box .b-m-con span:last-of-type{padding:0;}
    .b-title-box .b-m-con span:last-of-type:after{display:none;}
    .b-title-box .b-m-con .b-writer{display:none;}
    .b-reply-box .b-num-box{text-indent:-99999px;}
}


.b-paging-wrap ul {padding: 50px 0 0;text-align: center;}
.b-paging-wrap ul li {display: inline-block;vertical-align: middle;}
.b-paging-wrap ul li a {display: block;position: relative;font-weight: 300;font-size: 16px;color: #7b7b7b;box-sizing: border-box;}
.b-paging-wrap ul li.first a{width: 38px;height: 35px;background: url(../img/list/btn-first-page.gif) no-repeat center;}
.b-paging-wrap ul li.prev a{width: 33px;height: 35px;background: url(../img/list/btn-prev-page.gif) no-repeat center;}
.b-paging-wrap ul li.next a{width: 33px;height: 35px;background: url(../img/list/btn-next-page.gif) no-repeat center;}
.b-paging-wrap ul li.last a{width: 38px;height: 35px;background: url(../img/list/btn-last-page.gif) no-repeat center;}
.b-paging-wrap ul li:not(.pager) a {padding: 8px 0 9px;min-width: 30px;}
.b-paging-wrap ul li a.active:after{content:"";display:block;position:absolute;width:15px;height:1px;background-color:#000;bottom:3px;left: 50%; transform: translateX(-50%);}
.b-paging-wrap ul li a.active{color: #000;font-weight: 700;}

@media screen and (max-width: 768px){
    .b-paging-wrap ul li:not(.pager) a{padding: 5px 0 6px;min-width: 26px;}
    .b-paging-wrap ul li a{font-size:14px;}
    .b-paging-wrap ul li{margin: 0 0 5px;}
    .b-paging-wrap ul li.first a{width: 30px;height: 27px;}
    .b-paging-wrap ul li.prev a {width: 27px;height: 27px;}
    .b-paging-wrap ul li.next a{width: 27px;height: 27px;}
    .b-paging-wrap ul li.last a{width: 30px;height: 27px;}
}