@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

body,div,p,h1,h2,h3,h4,h5,h6,ol,li,dl,dt,dd,ul,pre,code,blockquote,form,fieldset,legend,input,textarea,button,select,table,th,td {margin:0;padding:0}

ul,ol,li,dl,menu {list-style:none}
img {border:0 none;vertical-align:middle;}
form,fieldset {border:0 none}
input,select,textarea,button {border:0;border-radius:0;font-size:inherit;line-height:normal;vertical-align:middle}
button {border:0;background-color:transparent;cursor:pointer;outline:0}
button::-moz-focus-inner {padding:0;border:0}
table {width:100%;border-collapse:collapse;border:0;border-spacing:0; table-layout:fixed;}

header,main,footer,section,article,aside,nav,details,menu,figure,figcaption {display:block;margin:0;padding:0}

body,textarea,select,input,button {font-family: 'Noto Sans KR', sans-serif; word-break : keep-all; }
body {color:#444;font-size:15px;font-weight:400;line-height:1.846;-webkit-text-size-adjust:none}
h1,h2,h3,h4,h5,h6,textarea,select,input {font-weight:400;font-size:14px;}
a {text-decoration: none; color: #000;}
a:hover{text-decoration: none;}

img {  height:auto;}
